body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

h1, h2 {
    color: #333;
    text-align: center;
}

nav {
    background-color: #5900ff;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

a:-webkit-any-link {
    color: white !important;
}

nav a {
    color: #fff;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

section {
    padding: 20px;
    margin: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

p {
    margin: 10px 0;
    text-align: center;
}

ol {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-position: inside;
}

a {
    color: #007BFF;
}

a:hover {
    color: #0056b3;
    text-decoration: underline;
}
